@import "../node_modules/material-design-icons/iconfont/material-icons.css";
@import '../node_modules/nouislider/distribute/nouislider.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainLayout {
  padding-left: 180px;
  margin: 0px
}

@media only screen and (max-width: 992px) {
  .mainLayout {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 992px) {
  #slide-out {
    top: 65px;
  }
}

/* .col {
  background-color: #0ACAF5;
  border:1px white solid;
} */

#container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1680px;
  width: 95%;
}

/* #sideNavOption {
  color:black !important;
} */
/* 
.collapsible-header , #selected{
  background-color: "#0ACAF5" !important;
} */

.breadcrumb {
  background-color: #ffffff !important; 
  color: rgba(50,50,50,0.4) !important;
}

.breadcrumb.active {
  color: #0ACAF5 !important;
  /* font-weight: bold; */
}

a.breadcrumb::before {
  color:rgba(50,50,50,0.3) !important;
  vertical-align: middle !important;
  font-size: 20px;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

nav {
  background-color: #ffffff !important; 
}

.tabs .tab a{
  color: gray !important; 
} /*color to the text*/

.tabs .tab a:hover {
  background-color:rgba(1,1,1,0.05) !important; 
  color:#0ACAF5 !important; 
} /*Text color on hover*/

.tabs .tab a.active {
  background-color: rgba(50,50,50,0.1) !important; 
  color: #0ACAF5 !important; 
} /*Background and text color when a tab is active*/

.tabs.indicator {
  background-color:#0ACAF5 !important;
  height: 6px !important;
} /*Color of underline*/

.breadcrumb.pointer{
  cursor: pointer; 
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  color:gray;
  font-size: 8px;
  display: block;
}

.noUi-handle {
  height: 18px !important; 
}

.noUi-handle::after {
  height: 10px !important; 
}

.noUi-handle::before {
  height: 10px !important; 
}

.noUi-value-sub {
  color: rgba(205,145,120,1);
  font-weight: bold;
  cursor: not-allowed;
}

.noUi-marker-sub {
  background-color: rgba(205,145,120,1);
  cursor: not-allowed; 
}

/* .dropdown-content {
  background-color: #FFFFFF !important; 
  margin: 0 !important; 
  max-height: auto !important; 
	margin-left: -1px !important;  
  overflow: hidden !important;  
  position: absolute !important; 
  white-space: nowrap !important; 
  z-index: 999 !important; 
  will-change: width, height !important; 
} */

.dropdown-trigger.btn {
  box-shadow: none !important;
}

.dropdown-content .collection{
  width: 33.333333% !important;
  min-width: 33.333333% !important;
  margin: 0px 10px 0px 0px !important;
}

.bottomNav {
  box-shadow: 0 -1px 3px -1px rgba(0,0,0,0.1) !important;
}

.dropdown-content {
  margin: 0px 10px 0px 0px !important;
}

.indicator {
  background-color:#0ACAF5 !important;
  height: 6px !important;
  z-index: 999 !important;
}
